# Java compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Eclipse / IDE project files
.classpath
.project
.settings/



# IntelliJ / IDEA files
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
